node_modules/
.vscode/
dist/
build/
out/
.next/

.DS_Store
Thumbs.db

bundes_data/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log


coverage/
.nyc_output/

# Secretos (Variables de entorno)
.env
.env.local